<HTML>
<HEAD>
<LINK  REL="stylesheet" type="text/css" href="{{ url_for('static', filename='css/polling.css') }}">
<SCRIPT LANGUAGE="Javascript" SRC="{{ url_for('static', filename='js/polling.js') }}"></SCRIPT>
</HEAD>
<BODY onLoad="pollStatus();">
<H1>Polling</H1>
<HR/>
<DIV>
<H2>This page will poll for the current date every 5 seconds</H2>
</DIV>
<DIV id="thepara" border=2>
</DIV>
<TABLE>
<TR>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
</TR>
<TR>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
<TD>	<IMG SRC="{{ url_for('static', filename='img/red-button-up.png') }}" HEIGHT=100 WIDTH=100> </TD>
</TR>
</TABLE>
</BODY>
</HTML>
